.btn {
  padding: 0;
  display: inline-block;
  vertical-align: middle;

  font-family: 'Futura PT', sans-serif;

  background: none;
  border: 0;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}