.section--about {
  padding-top: 30rem;
  margin-bottom: 17rem;
  padding-left: 5rem;
}

.section--works {
  margin-bottom: 18rem;
  position: relative;

  &:before {
    @include circle;
    bottom: 0;
    left: 0;
  }

  &:after {
    @include rectangle;
    top: 26rem;
    right: 0;
  }
}

.section--services {
  margin-bottom: 11rem;
  position: relative;

  &:before {
    @include circle;
    top: 50%;
    transform: translateY(-40%);
    left: -10%;
  }
}

.section--recommendation {
  margin-bottom: 18rem;
}

.section--news {
  margin-bottom: 10rem;
  position: relative;

  &:before {
    @include rectangle;
    left: -5%;
    top: 0;
  }
}

@media (max-width: 1599px) {
  .section--works {

    &:before {
      background-position: left center;
      left: -10%;
      bottom: -5%;
    }

    &:after {
      background-position: right center;
      right: -10%;
      top: 10%;
    }
  }
}

@media (max-width: 1199px) {
  .section--about {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .section--about {
    padding-top: 15rem;
  }
}